{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

                <h2 class="logo-font my-4 text-center">Thank You For Your Order</h2>
                <hr>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
			<div class="col-12 pt-0 pb-3 text-center">
                <a href="{%url 'cupboards'%}?type=cupboard,shelving" class="ml-3 text-black">
                    <h4>Back to designs</h4>
                </a>
                </h4>
            </div>
		</div>
    </div>
{% endblock %}