html {
    height: 100%;
}

header{
    background-color: rgb(18, 77, 129);
    z-index: 100;
}

.text-black{
    color:black !important;
}

.border-black{
    border-color: black !important;
}

.red-theme-color{
    background-color: rgb(168, 153, 153) !important;
}

.light-theme-color{
    background-color: rgb(202, 200, 200) !important;
}
.light-theme-text{
    color: rgb(102, 102, 102) !important;
}

body{
    font-family: "Slabo+27";
}

.logo-small{
    font-size: 250%;
}

.logo-font {
    text-transform: uppercase;
}

.main-nav-link{
    font-size: 115%;
}

.main-nav-link:hover{
   background-color: rgb(202, 200, 200) !important;
}
.text-black {
    color: rgb(53, 23, 9) !important;
}

.main-logo-link {
    width: fit-content;
}
.dropdown-menu{
    border-radius: 0;
    margin-top: 0;
}
.dropdown-item{
    padding-left: 1.2rem !important;
}

.user-menu{
    background-color: rgb(202, 200, 200);
}

.navbar-toggler:hover{
    background-color: rgb(168, 153, 153) !important;
} 

.navbar-light .navbar-toggler {
    border: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(168, 153, 153);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    font-size: 22px;
}

.sidenav-open{
    width:220px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px){
    .sidenav-open{
        width:0;
        padding-left: 0;
    }
}

.close-right{
    text-align: right;
}

.sidenav .closebtn {
    margin-right: 15px;
    font-size: 36px;
    color:black;
}

@media (max-width: 500px){
    .logo-small{
        font-size: 170%;
    }
}

@media (max-width: 350px){
    .logo-small{
        font-size: 150%;
    }
}

/* Designs page */
.doors-banner{
    background: url('/media/wood-bg.png') no-repeat center center fixed;
	background-size: cover;
 
    z-index: 1;
}

.banner-words{
    z-index: 100;
}
.card-header{
    background-color:white;
}

.details-btn{
    width:11rem;
    border-radius: 0;
}

.details-btn:hover{
    color:white;
}
.example{
    line-height: normal;
}

/* .custom-select:active{
    border:none;
} */

@media(max-width:568px){
    .banner-words{
        font-size: 110%;
    }
}
@media(max-width:756px){
    .banner-words{
        font-size: 150%;
    }
}

/* Cupboard details page */
.card{
    border-radius: 0;
}
.dim-input{
    width:3.5rem;
}

#shelves{
    height:30px;
    border-radius:0;
    width:2.5rem;
}

button{
    border-radius: 0 !important;
}

.btn{
    border-radius: 0 !important;
}
button:hover{
    background-color:white !important;
    border-color: black !important;
}

.number-input{
    height:33px !important;
    border-radius:0;
    width:2.5rem;
    border-width: 0.5px;
 
}

/* Calculated cupboard page */
.atc_btn{
    width: 10rem;
}
.atc_btn:hover{
    border-color: black;
}
.input-group, .input-group-prepend, .input-group-append{
    display:block;
}
.plus-minus{
    height:2rem;
    width: 2rem;
}

/* Cart page */
.chkt-btn:hover{
    background-color:white !important;
    border-color: black !important;
}

@media(min-width: 768px){
    .small-text{
        font-size: 90%;
    }
}

@media(min-width: 992px){
    .small-text{
        font-size: 100%;
    }
}

.update-cart{
    background:none;
}

form{
    display:inline;
}

/* Toasts */

.overlay{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    z-index: -1;
	background: rgba(134, 127, 127, 0.89);
}

.toast{
    font-size: 110%;
}

.close:hover{
    background: none !important;
}

.toasts-container{
    z-index: 999999 !important;
    height: 100%;
    width: 100%;
    align-items: center !important;
}

.toast-error{
    background-color: rgb(231, 193, 193);
    color:red !important;
}

.toast-warning{
    background-color: rgb(231, 224, 193);
    color:rgb(156, 98, 31) !important;
}
.toast-info{
    background-color: rgb(188, 236, 245);
    color:rgb(25, 36, 138) !important;
}
.toast-success{
    background-color: rgb(188, 245, 205);
    color:rgb(27, 92, 43) !important;
}


