<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto my-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="info-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0 pt-md-0" aria-labelledby="info-link">
                <a href="#" class="dropdown-item pl-md-2">What we do</a> 
                <a href="#" class="dropdown-item pl-md-2">Constructing your Cupboard</a>   
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="options-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
            </a>
            <div class="dropdown-menu border-0 pt-md-0" aria-labelledby="options-link">
                <a href="#" class="dropdown-item pl-md-2">Base Materials</a>
                <a href="#" class="dropdown-item pl-md-2">Doors</a>
                <a href="#" class="dropdown-item pl-md-2">Handles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="design-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design
            </a>
            <div class="dropdown-menu border-0 pt-md-0" aria-labelledby="design-link">
                <a href="#" class="dropdown-item pl-md-2">Dimensions</a>
                <a href="#" class="dropdown-item pl-md-2">Shelves</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="shipping-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shipping
            </a>
            <div class="dropdown-menu border-0 pt-md-0" aria-labelledby="shipping-link">
                <a href="#" class="dropdown-item pl-md-2">Info</a>
            </div>
        </li>
    </ul>
</div> 