</div>
<div class="col-6 p-0 pr-2 my-auto text-right d-block d-md-none">
    <ul class="list-inline list-unstyled text-right p-0 my-0">
        <li class="list-inline-item dropdown p-0">
            <a class="text-black nav-link p-0 pr-1" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="fas fa-user fa-lg p-2"></i>
                </div>
            </a>
            <div class="dropdown-menu user-menu dropdown-menu-right text-right border-0" aria-labelledby="user-options">
                <a href="#" class="dropdown-item">Order History</a>
                <a href="#" class="dropdown-item">My Profile</a>
                <a href="#" class="dropdown-item">Logout</a>
                <a href="#" class="dropdown-item">Register</a>
                <a href="#" class="dropdown-item">Login</a>
            </div>
        </li>
        <li class="list-inline-item p-0">
            <a class="nav-link text-black p-0" href="#">
                <div class="text-center">
                    <i class="fas fa-shopping-bag fa-lg p-2"></i>
                </div>
            </a>
        </li>
    </ul>
</div>
    <div class="col-12 d-block d-md-none pt-1 text-center">
        <a href="{% url 'home' %}" class="nav-link pt-0 text-center">
            <h2 class="logo-font logo-small text-black my-0">Custom Cupboards</h2>
        </a>
    </div>