{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 text-center text-md-left">
            <div class="image-wrapper col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 mt-3 mt-md-5">
                {% if cupboard.main_image %}

                <img class="card-img-top img-fluid mx-auto" src="{{ cupboard.main_image.url }}"
                    alt="{{ cupboard.name }}">

                {% else %}

                <img class="card-img-top img-fluid" src="../media/noimage.png" alt="{{ cupboard.name }}">

                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 p-0 pl-md-2 text-center text-md-left">
            <div class="card border-0 m-3 mt-md-5 p-md-3 pb-3 light-theme-color ml-md-0 mr-md-4">
                <h3 class="card-header border-0 light-theme-color mt-3 mt-md-0 mt-lg-1">{{cupboard.name}}</h3>
                <p class="pl-md-3 mb-2 ml-4 mr-4 m-md-0">{{cupboard.description}}</p>
                <h6 class="pl-md-3 mb-1">Example price: £{{cupboard.exampleprice}}</h6>
                <p class="pl-md-3 mb-1 example">for cupboard of dimensions:</p>
                <p class="pl-md-3 mb-1">H: 150cm / W: 100cm / D: 50cm</p>
            </div>
            <div class="card border-0 m-3 mr-4 mt-4 p-md-3 pb-2 ml-md-0 pl-lg-0 pr-lg-0 red-theme-color">
                <form class=""
                    action="{% url 'calculated_cupboard' cupboard.id  cupboard.material.id cupboard.type.id %}"
                    method="POST">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row pr-5 pr-lg-0 pt-1">
                            <div class="col-12 text-center col-lg-6 text-lg-left">
                                <h5 class="card-header border-0 red-theme-color mt-1 pl-lg-1 pt-0 pt-2">Update Your
                                    Dimensions:</h5>
                                <div class="row">
                                    <div class="col-6 pl-0 pr-3 text-right">
                                        <label for="height" class="">Height:</label>
                                    </div>
                                    <div class="col-6 text-left pl-0">
                                        <input id="height" class="dim-input" type="text" name="height" value="{{H}}"
                                            minlength="1" maxlength="5"> cm
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 pl-0 pr-3 text-right">
                                        <label for="width" class="">Width:</label>
                                    </div>
                                    <div class="col-6 text-left pl-0">
                                        <input id="width" class="dim-input" type="text" name="width" value="{{W}}"
                                            minlength="1" maxlength="5"> cm</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col-6 pl-0 pr-3 text-right">
                                        <label for="depth" class="">Depth:</label>
                                    </div>
                                    <div class="col-6 text-left pl-0">
                                        <input id="depth" class="dim-input " type="text" name="depth" value="{{D}}"
                                            minlength="1" maxlength="5"> cm
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center col-lg-6 text-lg-left">
                                <h5 class="card-header border-0 red-theme-color mt-1 pt-0 pl-lg-0 pt-lg-2">Select number
                                    of shelves:</h5>
                                <div class="select-wrapper pl-5 ml-2">
                                    <select name="shelves" id="shelves">
                                        <option value="{{S}}">{{S}}</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12 text-center pt-3">
                                <button type="submit" class="btn btn-lg light-theme-color">Recalculate</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12  p-0  text-center text-md-left">
            <div class="card border-2 border-black
                m-3 mt-lg-5 pb-3 mx-lg-5 white">
                <strong>
                    <h5 class="ml-md-5 mb-0 pt-2">Cost for {{type.name}} with {{S}} shelves of <br
                            class="m-0 p-0 pt-2 d-md-none">
                        H: {{H}} cm / W: {{W}} cm / D: {{D}} cm = </h5>
                </strong>

                <div class="row text-center ">
                    <div class="col-12 pt-3">
                        <h3 class="text-center" name="cost">£ {{cost}}</h3>
                    </div>
                </div>
                <form class="form" action="{% url 'add_to_cart' cupboard.id H W D S dims_code cost %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 text-center pt-1">
                            <label for="quantity" class="">Quantity:</label>
                            <input id="quantity" class="number-input" type="number" name="quantity" value="1"
                                minlength="1" maxlength="5">
                        </div>
                        <!-- Hidden Inputs -->
                        <div class="d-none">
                            <label for="cart-type"></label>
                            <input type="text" id="cart-type" value="{{type.name}}">
                            <label for="cart-height"></label>
                            <input type="number" id="cart-height" value="{{H}}">
                            <label for="cart-width"></label>
                            <input type="text" id="cart-width" value="{{W}">
                            <label for="cart-depth"></label>
                            <input type="text" id="cart-depth" value="{{D}}">
                            <label for="cart-shelves"></label>
                            <input type="text" id="cart-shelves" value="{{S}}">
                            <label for="cart-cost"></label>
                            <input type="text" id="cart-cost" value="{{cost}}">
                        </div>
                        <!--  -->
                        <div class="col-12 text-center pt-4 ">
                            <button type="submit" class="btn btn-lg red-theme-color">Add to Cart</button>
                        </div>
                </form>
            </div>
        </div>
        <div class="col-12 pt-1 pt-md-2 pb-4 text-center">
            <a href="{%url 'cupboards'%}?type=cupboard,shelving" class="text-black">
                <h5>Back to designs</h5>
            </a>
        </div>

    </div>
</div>
{% endblock%}