{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col-12 p-0">
            <div class="doors-banner">
                <div class="col-12 ">
            <h3 class="text-center banner-words p-4">CHOOSE FROM ONE OF OUR TOP QUALITY DESIGNS</h3>
                </div>
        </div>
            <h4 class="text-center m-3"><button class="btn btn-link text-black pt-0">Cupboards</button> | <button class="btn btn-link text-black pt-0">Shelves</button></h4>
        </div>
        <div class="col-10 offset-1 col-lg-8 offset-lg-2"><hr class="mt-0"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {%for cupboard in cupboards%}
        <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-4 offset-md-1 text-center text-md-left p-0">
            <div class="image-wrapper col-8 offset-2 col-sm-6 offset-sm-3 col-md-12 offset-md-0 mt-md-3 mt-lg-1 p-0 p-lg-3 pb-0">
            {% if cupboard.main_image %}
            <a href="{% url 'cupboard_details' cupboard.id %}">
                <img class="card-img-top img-fluid  w-30 mx-auto" src="{{ cupboard.main_image.url }}" alt="{{ cupboard.name }}">
            </a>
            {% else %}
            <a href="{% url 'cupboard_details' cupboard.id %}">
                <img class="card-img-top img-fluid" src="../media/noimage.png" alt="{{ cupboard.name }}">
            </a>
            {% endif %}
            </div>
        </div>
            <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-6 p-0 pl-md-4 text-center text-md-left">
                <div class="card h-100 border-0">
                    <h4 class="card-header border-0">{{cupboard.name}}</h4>
                    <p class="pl-md-3">{{cupboard.description}}</p>
                    <h6 class="pl-md-3"><strong>Example price*:</strong> £{{cupboard.example_price}}</h6>
                    <p class="text-center mb-0 mt-2"><a class="btn btn-lg details-btn red-theme-color" href="{% url 'cupboard_details' cupboard.id %}"><strong>SELECT</strong></a></p>
                    <br>
                    <p class="pl-md-3"><strong>Select this cupboard design to enter your required dimensions and receive a quote.</strong></p>
                    <p class="pl-md-3 mb-1 example">*Example price is given to enable price comparison for a cupboard of dimensions:</p>
                    <p class="pl-md-3 mb-1">H: 150cm / W: 100cm / D: 50cm</p>
                </div>
            </div>
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 pb-3"><hr></div>

        {% endfor %}
    </div>
</div>
{% endblock%}